<h2>Login Credentials</h2>

<p>
Hello <%= @user.name %>
</p>
<p>Your login credentials are :</p>
<p>College_id : <%= @user.collegeid %></p>
<p>Password   : <%= @user.confirm_password %></p>
<p>Click here to <%= link_to "login", 'https://vibhavnitc.herokuapp.com/login' %></p>
<p align>Thankyou</p>
<p align>-Vibhav-</p>
